# ---------------------------------------------------------------
# .gitinogreに関するTips
# 
# あとからまとめて.gitignoreする方法
# https://qiita.com/yuuAn/items/b1d1df2e810fd6b92574
#
# .gitignore ファイルをブランチごとに別の内容にする
# https://qiita.com/matsuoshi/items/f40d60a5c0a1a169a73b
# ---------------------------------------------------------------

# ドットはじまり
\!*
.*
!.htaccess
!.htpasswd
!.gitkeep
!.gitignore
!.gitmodules
!.editorconfig

# コンパイルファイル
#*.css
*.css.map
bundle.js
*.scssc
*.map
/www/generator/log
.sass-cache
prepros-6.config

#gulp
.images-cache
gulpfile.babel.js
package.json
package-lock.json
fractal.js
fractal_src/*
component_lib/*
tsconfig.json
webpack.config.js
/node_modules
dist_images/*
!_buildSystem/*
!_buildSystem/**/*

# システム
www/admin/uploader/log/*
www/upload/*
www/cms_upload/*
CI/application/config/production/database.php
CI/application/config/testing/database.php

# フォーム
www/contact/__log/*
!www/contact/__log/EMPTY
www/contact/__csv/*
!www/contact/__csv/EMPTY

# デザインフォルダ
_design

# NPM
node_modules/
dist_img/

# Windows
Thumbs.db
Desktop.ini

#VsCode
.history
.history/*

# Other
ssl
app.yaml
~
.DS_Store
config.codekit*
*.code-workspace
*.log
コピー
.AppleDouble
.smbdelete
._*
ssl
sess_*
log-*.php
*.mwb.bak
zip.sh

!.user.ini
!.gitkeep


