.article-editor .ve span.bold,
.article-editor .ve-menu span.bold,
.article-editor .ve-style span.bold,
.ve span.bold {
  font-weight: bold;
}

.article-editor .ve span.highlight,
.article-editor .ve-menu span.highlight,
.article-editor .ve-style span.highlight,
.ve span.highlight {
  background-color: #F3EE49;
}

.article-editor .ve span.sup,
.article-editor .ve-menu span.sup,
.article-editor .ve-style span.sup,
.ve span.sup {
  vertical-align: super;
  position: relative;
  top: -.1em;
  font-size: .8rem;
  color: #666;
}

.article-editor .ve span.annotation,
.article-editor .ve-menu span.annotation,
.article-editor .ve-style span.annotation,
.ve span.annotation {
  font-size: .9rem;
  color: #666;
}

.article-editor .ve a, .article-editor .ve a:visited,
.article-editor .ve-menu a,
.article-editor .ve-menu a:visited,
.article-editor .ve-style a,
.article-editor .ve-style a:visited,
.ve a,
.ve a:visited {
  color: #00f;
  text-decoration: underline;
}

.article-editor .ve span.red,
.article-editor .ve-menu span.red,
.article-editor .ve-style span.red,
.ve span.red {
  color: #b4404f;
}

.article-editor .ve span.pink,
.article-editor .ve-menu span.pink,
.article-editor .ve-style span.pink,
.ve span.pink {
  color: #b87392;
}

.article-editor .ve span.purple,
.article-editor .ve-menu span.purple,
.article-editor .ve-style span.purple,
.ve span.purple {
  color: #9364af;
}

.article-editor .ve span.blue,
.article-editor .ve-menu span.blue,
.article-editor .ve-style span.blue,
.ve span.blue {
  color: #4975b6;
}

.article-editor .ve span.lightblue,
.article-editor .ve-menu span.lightblue,
.article-editor .ve-style span.lightblue,
.ve span.lightblue {
  color: #60a8b8;
}

.article-editor .ve span.green,
.article-editor .ve-menu span.green,
.article-editor .ve-style span.green,
.ve span.green {
  color: #559e61;
}

.article-editor .ve span.orange,
.article-editor .ve-menu span.orange,
.article-editor .ve-style span.orange,
.ve span.orange {
  color: #c98a5c;
}

.article-editor .ve span.gray,
.article-editor .ve-menu span.gray,
.article-editor .ve-style span.gray,
.ve span.gray {
  color: #adadad;
}

.article-editor .ve span.beta__red,
.article-editor .ve-menu span.beta__red,
.article-editor .ve-style span.beta__red,
.ve span.beta__red {
  background-color: #b4404f;
  padding: 2px;
  color: #fff;
}

.article-editor .ve span.beta__pink,
.article-editor .ve-menu span.beta__pink,
.article-editor .ve-style span.beta__pink,
.ve span.beta__pink {
  background-color: #b87392;
  padding: 2px;
  color: #fff;
}

.article-editor .ve span.beta__purple,
.article-editor .ve-menu span.beta__purple,
.article-editor .ve-style span.beta__purple,
.ve span.beta__purple {
  background-color: #9364af;
  padding: 2px;
  color: #fff;
}

.article-editor .ve span.beta__blue,
.article-editor .ve-menu span.beta__blue,
.article-editor .ve-style span.beta__blue,
.ve span.beta__blue {
  background-color: #4975b6;
  padding: 2px;
  color: #fff;
}

.article-editor .ve span.beta__lightblue,
.article-editor .ve-menu span.beta__lightblue,
.article-editor .ve-style span.beta__lightblue,
.ve span.beta__lightblue {
  background-color: #60a8b8;
  padding: 2px;
  color: #fff;
}

.article-editor .ve span.beta__green,
.article-editor .ve-menu span.beta__green,
.article-editor .ve-style span.beta__green,
.ve span.beta__green {
  background-color: #559e61;
  padding: 2px;
  color: #fff;
}

.article-editor .ve span.beta__orange,
.article-editor .ve-menu span.beta__orange,
.article-editor .ve-style span.beta__orange,
.ve span.beta__orange {
  background-color: #c98a5c;
  padding: 2px;
  color: #fff;
}

.article-editor .ve span.beta__gray,
.article-editor .ve-menu span.beta__gray,
.article-editor .ve-style span.beta__gray,
.ve span.beta__gray {
  background-color: #adadad;
  padding: 2px;
  color: #fff;
}
