.article-editor .ve span.bold,
.article-editor .ve-menu span.bold,
.article-editor .ve-style span.bold,
.ve span.bold {
  font-weight: bold;
}

.article-editor .ve span.highlight,
.article-editor .ve-menu span.highlight,
.article-editor .ve-style span.highlight,
.ve span.highlight {
  background-color: #F3EE49;
}

.article-editor .ve span.sup,
.article-editor .ve-menu span.sup,
.article-editor .ve-style span.sup,
.ve span.sup {
  vertical-align: super;
  position: relative;
  top: -.1em;
  font-size: .8rem;
  color: #666;
}

.article-editor .ve span.annotation,
.article-editor .ve-menu span.annotation,
.article-editor .ve-style span.annotation,
.ve span.annotation {
  font-size: .9rem;
  color: #666;
}

.article-editor .ve a, .article-editor .ve a:visited,
.article-editor .ve-menu a,
.article-editor .ve-menu a:visited,
.article-editor .ve-style a,
.article-editor .ve-style a:visited,
.ve a,
.ve a:visited {
  color: #00f;
  text-decoration: underline;
}
