.item-wrap {
  transition: all 400ms;
}

.item-enter, .item-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.item-leave-active {
  position: absolute !important;
}

.list-row-wrap {
  transition: all 400ms;
}

.list-row-enter, .list-row-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.list-row-leave-active {
  position: absolute !important;
}

.tips {
  transition: all 300ms;
}

.tips-enter, .tips-leave-to {
  opacity: 0;
}

.tips-leave-active {
  position: absolute !important;
}
