.notes{
	font-size: 0.8rem !important;
}

.search-controller .controller-right .limit {
    width: auto;
}

.search-controller .controller-right .disp-num {
    width: 11.5rem;
}

.-published {
    border-color:#4267b2;
    background: #4267b2;
    color: #fff;
    font-weight: 600;
}

.-not_published {
    border-color:#d43838;
    background: #d43838;
    color: #fff;
    font-weight: 600;
}
