.notes{
	font-size: 0.8rem !important;
}

.red,
.mainColor {
    color: #D30000 !important;
}


.edit-box .dataTable th {
    width: 14rem;
}

.search-controller .controller-right .limit {
    width: auto;
}

.search-controller .controller-right .disp-num {
    width: 11.5rem;
}

.-temporary {
    background-color:#ff7308!important;
    color: #fff!important;
}

.-temporary a {
    color: #fff;
}

.inline-editor .ve-field.inited {
    min-height: 8rem;
}

.table.table-timetable td {
    vertical-align: top!important;
}

header nav h1 {
    max-width: 19rem;
}

/* span.xxx > a 対応 */

.pink{
  a{ color: #B87392 !important; }
}
.beta__pink{
  a{ color: #fff !important; }
}

.purple{
  a{ color: #9364AF !important; }
}
.beta__purple{
  a{ color: #fff !important; }
}

.blue{
  a{ color: #4975B6 !important; }
}
.beta__blue{
  a{ color: #fff !important; }
}

.lightblue{
  a{ color: #60A8B8 !important; }
}
.beta__lightblue{
  a{ color: #fff !important; }
}

.green{
  a{ color: #559E61 !important; }
}
.beta__green{
  a{ color: #fff !important; }
}

.orange{
  a{ color: #C98A5C !important; }
}
.beta__orange{
  a{ color: #fff !important; }
}

.gray{
  a{ color: #ADADAD !important; }
}
.beta__gray{
  a{ color: #fff !important; }
}

